openapi: 3.0.0
info:
  contact:
    email: metafabproject@gmail.com
    name: MetaFab Team
    url: https://trymetafab.com
  description: " Complete MetaFab API references and guides can be found at: https://trymetafab.com"
  termsOfService: https://trymetafab.com
  title: MetaFab API
  version: 1.1.3
servers:
- description: MetaFab API Server
  url: https://api.trymetafab.com
tags:
- description: Contract related operations
  name: Contracts
- description: Currency related operations
  name: Currencies
- description: Game related operations
  name: Games
- description: Item related operations
  name: Items
- description: Transaction related operations
  name: Transactions
- description: Player related operations
  name: Players
- description: Wallet related operations
  name: Wallets
paths:
  /v1/collections:
    get:
      description: Returns an array of active item collections for the game associated
        with the provided `X-Game-Key`.
      operationId: getCollections
      parameters:
      - description: "The `publishedKey` of a specific game. This can be shared or\
          \ included in game clients, websites, etc."
        example: game_pk_4SOqpDi8pQdnQgfCOBW29qR8YmwOhxVPz5iHoMgUEJLDdPXgwLuHqZf8ewo2GajZ
        explode: false
        in: header
        name: X-Game-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getCollections_200_response_inner'
                type: array
          description: Successfully retrieved an array of item collections for the
            game associated with the provided `X-Game-Key`
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collections
      tags:
      - Items
      x-accepts: application/json
    post:
      description: "Creates a new game item collection and deploys an extended functionality\
        \ ERC1155 contract on behalf of the authenticating game's primary wallet.\
        \ The deployed ERC1155 contract is preconfigured to fully support creating\
        \ unique item types, item transfer timelocks, custom metadata per item, gasless\
        \ transactions from player managed wallets, and much more."
      operationId: createCollection
      parameters:
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCollection_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCollection_200_response'
          description: Successfully created a new item collection and deployed its
            associated ERC1155 contract on the chain specified. Returns a collection
            object containing a contract property with the deployment transaction.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Create collection
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/approvals:
    get:
      description: Returns a boolean (true/false) representing if the provided operatorAddress
        has approval to transfer and burn items from the current collection owned
        by the address or address associated with the provided walletId.
      operationId: getCollectionApproval
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
        example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
        explode: true
        in: query
        name: operatorAddress
        required: true
        schema:
          type: string
        style: form
      - description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
        example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Any wallet id within the MetaFab ecosystem.
        explode: true
        in: query
        name: walletId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successfully retrieved the boolean value representing if the
            provided operatorAddress can transfer and burn owned items by the provided
            address or walletId.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection approval
      tags:
      - Items
      x-accepts: application/json
    post:
      description: Sets approval for the provided address or wallet address associated
        with the provided walletId to operate on behalf of the authenticating game
        or player's owned items for this collection. Setting an approved value of
        `true` allows the provided address or address associated with the provided
        walletId to transfer and burn items from this collection on behalf of the
        authenticated game or player's wallet address.
      operationId: setCollectionApproval
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setCollectionApproval_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully set approval for the provided address or address
            associated with the provided walletId to transfer and burn items from
            this collection on behalf of the authenticated game or player's wallet.
            Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Set collection approval
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/balances:
    get:
      description: Returns the current collection item balances of all collection
        items for the provided wallet address or the wallet address associated with
        the provided walletId.
      operationId: getCollectionItemBalances
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
        example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Any wallet id within the MetaFab ecosystem.
        explode: true
        in: query
        name: walletId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: number
                description: Key value pairs represented as itemId -> balance for
                  the provided wallet or address.
                type: object
          description: "Successfully retrieved currency balances of all collection\
            \ items owned by the provided address or walletId. Balances are returned\
            \ as a an object, mapping key value pairs as itemId -> balance (string\
            \ to handle uint256 numbers)."
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection item balances
      tags:
      - Items
      x-accepts: application/json
  /v1/collections/{collectionId}/batchMints:
    post:
      description: Creates (mints) the provided itemIds of the specified quantities
        to the provided wallet address or wallet address associated with the provided
        walletId.
      operationId: batchMintCollectionItems
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchMintCollectionItems_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully created (minted) the provided items of the provided
            quantities to the provided wallet address or wallet address of the provided
            walletId. Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Batch mint collection items
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/batchTransfers:
    post:
      description: Transfers one or multiple items of specified quantities to the
        provided wallet addresses or wallet addresses associated with the provided
        walletIds. You may also provide a combination of addresses and walletIds in
        one request.
      operationId: batchTransferCollectionItems
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchTransferCollectionItems_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully transferred the itemIds of the provided quantities
            to each of the provided wallet addresses and/or wallet addresses of the
            provided walletIds. Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Batch transfer collection items
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/items:
    get:
      description: Returns all collection items as an array of metadata objects.
      operationId: getCollectionItems
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Successfully retrieved collection items metadata.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection items
      tags:
      - Items
      x-accepts: application/json
    post:
      description: "Creates a new item type. Item type creation associates all of\
        \ the relevant item data to a specific itemId. Such as item name, image, description,\
        \ attributes, any arbitrary data such as 2D or 3D model resolver URLs, and\
        \ more. It is recommended, but not required, that you create a new item type\
        \ through this endpoint before minting any quantity of the related itemId.\n\
        \nItem type data is uploaded to, and resolved through IPFS for decentralized\
        \ persistence. Any itemId provided will have its existing item type overriden\
        \ if it already exists."
      operationId: createCollectionItem
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCollectionItem_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully created a new item type and assigned it to the
            provided item `id`. Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Create collection item
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}:
    get:
      description: Returns a metadata object for the provided collectionItemId.
      operationId: getCollectionItem
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Successfully retrieved collection item metadata.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection item
      tags:
      - Items
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}/balances:
    get:
      description: Returns the current collection item balance of the provided collectionItemId
        for the provided wallet address or the wallet address associated with the
        provided walletId.
      operationId: getCollectionItemBalance
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      - description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
        example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Any wallet id within the MetaFab ecosystem.
        explode: true
        in: query
        name: walletId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successfully retrieved collection item balance of the provided
            collectionItemId for address or walletId. Balance is returned as a string
            to handle uint256 numbers.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection item balance
      tags:
      - Items
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}/burns:
    post:
      description: Removes (burns) the provided quantity of the collectionItemId from
        the authenticating game or players wallet. The quantity is permanently removed
        from the circulating supply of the item.
      operationId: burnCollectionItem
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/burnCollectionItem_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully removed (burned) the quantity of the collectionItemId
            from the authenticating game or player's wallet. Returns a transaction
            object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Burn collection item
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}/mints:
    post:
      description: Creates (mints) the specified quantity of the provided collectionItemId
        to the provided wallet address or wallet address associated with the provided
        walletId.
      operationId: mintCollectionItem
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mintCollectionItem_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully created (minted) the item(s) to the provided wallet
            address or wallet address of the provided walletId. Returns a transaction
            object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Mint collection item
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}/supplies:
    get:
      description: Returns the current circulating supply of the provided collectionItemId.
      operationId: getCollectionItemSupply
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      - description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
        example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Any wallet id within the MetaFab ecosystem.
        explode: true
        in: query
        name: walletId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successfully retrieved collection item supply. Supply is returned
            as a string to handle uint256 numbers.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection item supply
      tags:
      - Items
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}/timelocks:
    get:
      description: Returns a timestamp (in seconds) for when the provided collectionItemId's
        transfer timelock expires. A value of 0 means the provided collectionItemId
        does not have a timelock set. Timelocks prevent items of a specific collectionItemId
        from being transferred until the set timelock timestamp has been surpassed.
      operationId: getCollectionItemTimelock
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successfully retrieved the collectionItemId's timelock. The
            timelock is returned as a unix timestamp in seconds. A return value of
            0 means the collectionItemId does not have a timelock set.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection item timelock
      tags:
      - Items
      x-accepts: application/json
    post:
      description: "Sets the item timelock for the provided collection itemId. The\
        \ timelock is a unix timestamp (in seconds) that defines a period in time\
        \ of when an item may be transferred by players. Until the timelock timestamp\
        \ has passed, the itemId for the given timelock may not be transferred, sold,\
        \ traded, etc. A timelock of 0 (default) means that there is no timelock set\
        \ on the itemId and it can be freely transferred, traded, etc."
      operationId: setCollectionItemTimelock
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setCollectionItemTimelock_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully set the provided timelock for the provided itemId.
            Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Set collection item timelock
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/items/{collectionItemId}/transfers:
    post:
      description: Transfers specified quantity of itemId to the provided wallet address
        or wallet address associated with the provided walletId.
      operationId: transferCollectionItem
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      - description: "Any item id for the collection. Zero, or a positive integer."
        explode: false
        in: path
        name: collectionItemId
        required: true
        schema:
          type: number
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferCollectionItem_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully transferred the provided quantity of the collectionItemId
            to the provided wallet address or wallet address of the provided walletId.
            Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Transfer collection item
      tags:
      - Items
      x-content-type: application/json
      x-accepts: application/json
  /v1/collections/{collectionId}/supplies:
    get:
      description: Returns the currency circulating supply of all collection items.
      operationId: getCollectionItemSupplies
      parameters:
      - description: Any collection id within the MetaFab ecosystem.
        explode: false
        in: path
        name: collectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: number
                description: Key value pairs represented as itemId -> circulating
                  supply.
                type: object
          description: "Successfully retrieved the circulating supply of all collection\
            \ items. Supplies are returned as a an object, mapping key value pairs\
            \ as itemId -> balance (string to handle uint256 numbers)."
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get collection item supplies
      tags:
      - Items
      x-accepts: application/json
  /v1/contracts:
    get:
      description: Returns an array of active contracts deployed by the game associated
        with the provided `X-Game-Key`.
      operationId: getContracts
      parameters:
      - description: "The `publishedKey` of a specific game. This can be shared or\
          \ included in game clients, websites, etc."
        example: game_pk_4SOqpDi8pQdnQgfCOBW29qR8YmwOhxVPz5iHoMgUEJLDdPXgwLuHqZf8ewo2GajZ
        explode: false
        in: header
        name: X-Game-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContractModel'
                type: array
          description: Successfully retrieved an array of contracts for the game associated
            with the provided `X-Game-Key`.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get contracts
      tags:
      - Contracts
      x-accepts: application/json
    post:
      description: Create a MetaFab custom contract entry from an existing contract
        address and contract abi. This allows the game and players belonging to the
        authenticated game to interact with the contract's read and write functions
        through MetaFab's read and write contract endpoints.
      operationId: createContract
      parameters:
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createContract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractModel'
          description: Successfully created a MetaFab contract entry. Returns a contract
            object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Create custom contract
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts: application/json
  /v1/contracts/{contractId}/reads:
    get:
      description: "Oftentimes you'll want to query and retrieve some data from a\
        \ contract. This is incredibly easy to do for any contract deployed through\
        \ MetaFab.\n\nUsing this endpoint, you can get the data returned by any readable\
        \ function listed in a contracts ABI. This could be things like querying the\
        \ totalSupply of a currency contract, the number of owners of an items contract,\
        \ and more."
      operationId: readContract
      parameters:
      - description: Any contract id within the MetaFab ecosystem.
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: "A contract function name. This can be any valid function from\
          \ the the ABI of the contract you are interacting with. For example, `balanceOf`."
        explode: true
        in: query
        name: func
        required: true
        schema:
          type: string
        style: form
      - description: "A comma seperated list of basic data type arguments. This is\
          \ optional and only necessary if the function being invoked requires arguments\
          \ per the contract ABI. For example, `123,\"Hello\",false`."
        example: "123,\"Hello\",false"
        explode: true
        in: query
        name: args
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyValue'
          description: Successfully retrieved value returned by contract function.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Read contract data
      tags:
      - Contracts
      x-accepts: application/json
  /v1/contracts/{contractId}/writes:
    post:
      description: "MetaFab's convenience endpoints for contract interactions may\
        \ not be flexible enough depending on your use case. For these situations,\
        \ you can interact with contracts and create transactions directly.\n\nUsing\
        \ this endpoint, you can execute a transaction for any writeable contract\
        \ method as defined in the contract's ABI for the MetaFab contractId provided.\
        \ Both Games and Player resources have authority to use this endpoint to execute\
        \ transactions against any valid MetaFab contractId.\n\nAdditionally, MetaFab\
        \ will automatically attempt to perform a gasless transaction for players\
        \ interacting with a contract through this endpoint. Gasless transactions\
        \ by players through this endpoint will only work if the target contract was\
        \ deployed through MetaFab or supports MetaFab's ERC2771 trusted forwarder\
        \ contract."
      operationId: writeContract
      parameters:
      - description: Any contract id within the MetaFab ecosystem.
        explode: false
        in: path
        name: contractId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/writeContract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully executed and confirmed the transaction. Returns
            a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Write contract data
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts: application/json
  /v1/currencies:
    get:
      description: Returns an array of active currencies for the game associated with
        the provided `X-Game-Key`.
      operationId: getCurrencies
      parameters:
      - description: "The `publishedKey` of a specific game. This can be shared or\
          \ included in game clients, websites, etc."
        example: game_pk_4SOqpDi8pQdnQgfCOBW29qR8YmwOhxVPz5iHoMgUEJLDdPXgwLuHqZf8ewo2GajZ
        explode: false
        in: header
        name: X-Game-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getCurrencies_200_response_inner'
                type: array
          description: Successfully retrieved an array of currencies for the game
            associated with the provided `X-Game-Key`
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get currencies
      tags:
      - Currencies
      x-accepts: application/json
    post:
      description: "Creates a new game currency and deploys an ERC20 token contract\
        \ on behalf of the authenticating game's primary wallet. The deployed ERC20\
        \ contract is preconfigured to fully support bridging across blockchains,\
        \ batched transfers and gasless transactions on any supported blockchain as\
        \ well as full support for gasless transactions from player managed wallets."
      operationId: createCurrency
      parameters:
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCurrency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCurrency_200_response'
          description: Successfully created a new currency and deployed its associated
            ERC20 token contract on the chain specified. Returns a currency object
            containing a contract property with the deployment transaction.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Create currency
      tags:
      - Currencies
      x-content-type: application/json
      x-accepts: application/json
  /v1/currencies/{currencyId}/balances:
    get:
      description: Returns the current currency balance of the provided wallet address
        or or the wallet address associated with the provided walletId.
      operationId: getCurrencyBalance
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      - description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
        example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Any wallet id within the MetaFab ecosystem.
        explode: true
        in: query
        name: walletId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: Successfully retrieved currency balance for the provided address
            or walletId. Balance is returned as a string to handle uint256 numbers.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get currency balance
      tags:
      - Currencies
      x-accepts: application/json
  /v1/currencies/{currencyId}/batchTransfers:
    post:
      description: "Transfers multiple amounts of currency to multiple provided wallet\
        \ addresses or wallet addresses associated with the provided walletIds. You\
        \ may also provide a combination of addresses and walletIds in one request,\
        \ the proper receipients will be automatically determined, with `addresses`\
        \ getting `amounts` order priority first.\n\nOptional references may be included\
        \ for the transfer. References are useful for identifying transfers intended\
        \ to pay for items, trades, services and more."
      operationId: batchTransferCurrency
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchTransferCurrency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully transferred the currency amounts to the provided
            wallet addresses and/or wallet addresses of the provided walletIds. Returns
            a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Batch transfer currency
      tags:
      - Currencies
      x-content-type: application/json
      x-accepts: application/json
  /v1/currencies/{currencyId}/burns:
    post:
      description: Removes (burns) the provided amount of currency from the authenticating
        game or players wallet. The currency amount is permanently removed from the
        circulating supply of the currency.
      operationId: burnCurrency
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/burnCurrency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully removed (burned) the currency amount from the
            authenticating game or player's wallet. Returns a transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Burn currency
      tags:
      - Currencies
      x-content-type: application/json
      x-accepts: application/json
  /v1/currencies/{currencyId}/fees:
    get:
      description: Returns the current fee recipient address and fees of the currency
        for the provided currencyId. Fees are only applicable for gasless transactions
        performed by default by players.
      operationId: getCurrencyFees
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCurrencyFees_200_response'
          description: Successfully retrieved currency fees for the currency of the
            provided currencyId.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get currency fees
      tags:
      - Currencies
      x-accepts: application/json
    post:
      description: "Sets the recipient address, basis points, fixed amount and cap\
        \ amount for a currency's fees."
      operationId: setCurrencyFees
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setCurrencyFees_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfuly set the currency's fees. Returns a transaction
            object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Set currency fees
      tags:
      - Currencies
      x-content-type: application/json
      x-accepts: application/json
  /v1/currencies/{currencyId}/mints:
    post:
      description: Creates (mints) the provided amount of currency to the provided
        wallet address or wallet address associated with the provided walletId.
      operationId: mintCurrency
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game. Required to decrypt
          and perform blockchain transactions with the game primary wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mintCurrency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully created (minted) the currency amount to the provided
            wallet address or wallet address of the provided walletId. Returns a transaction
            object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Mint currency
      tags:
      - Currencies
      x-content-type: application/json
      x-accepts: application/json
  /v1/currencies/{currencyId}/transfers:
    post:
      description: "Transfers an amount of currency to the provided wallet address\
        \ or wallet address associated with the provided walletId. If you want to\
        \ transfer to multiple wallets with different amounts and optional references\
        \ in one API request, please see the Batch transfer currency documentation.\n\
        \nAn optional reference may be included for the transfer. References are useful\
        \ for identifying transfers intended to pay for items, trades, services and\
        \ more."
      operationId: transferCurrency
      parameters:
      - description: Any currency id within the MetaFab ecosystem.
        explode: false
        in: path
        name: currencyId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of a specific game or the `accessToken` of a
          specific player.
        example:
        - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      - description: The password of the authenticating game or player. Required to
          decrypt and perform blockchain transactions with the game or player primary
          wallet.
        example: mySecurePassword
        explode: false
        in: header
        name: X-Password
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferCurrency_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully transferred the currency amount to the provided
            wallet address or wallet address of the provided wallet Id. Returns a
            transaction object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Transfer currency
      tags:
      - Currencies
      x-content-type: application/json
      x-accepts: application/json
  /v1/games:
    get:
      description: Returns an existing game object containing authorization keys and
        credentials when provided a valid email (in place of username) and password
        login using Basic Auth.
      operationId: authGame
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authGame_200_response'
          description: Succesfully authorized the request and retrieved a game object
            containing authorization keys and credentials.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      security:
      - basicAuth: []
      summary: Authenticate game
      tags:
      - Games
      x-accepts: application/json
    post:
      description: "Create a new game. A game is the root entity required for all\
        \ API interactions. Contracts, currencies, items and more are deployed by\
        \ games, player accounts are created and registered to games, etc.\n\nTo use\
        \ any of MetaFab's services, you must first create a game through this endpoint.\n\
        \n**Game creation is limited during our closed beta. Please contact ArkDev#4501\
        \ on Discord to be a part of our beta.**"
      operationId: createGame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGame_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authGame_200_response'
          description: "Successfully created a new game. Returns a game object containing\
            \ a wallet and fundingWallet property, respectively representing the games\
            \ primary wallet address (used to deploy & interact with contract) and\
            \ funding wallet address (used to cover gasless transaction fees)."
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Create game
      tags:
      - Games
      x-content-type: application/json
      x-accepts: application/json
  /v1/games/{gameId}:
    patch:
      description: "Update various fields specific to a game. Such as changing its\
        \ password, resetting its published or secret key, or updating its RPCs."
      operationId: updateGame
      parameters:
      - description: Any game id within the MetaFab ecosystem.
        explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      - description: The `secretKey` of the authenticating game.
        example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateGame_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameModel'
          description: Returns the updated game object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Update game
      tags:
      - Games
      x-content-type: application/json
      x-accepts: application/json
  /v1/players:
    get:
      description: "Returns an existing player object containing access token, wallet,\
        \ and other details for a game when provided a valid username and password\
        \ login using Basic Auth."
      operationId: authPlayer
      parameters:
      - description: "The `publishedKey` of a specific game. This can be shared or\
          \ included in game clients, websites, etc."
        example: game_pk_4SOqpDi8pQdnQgfCOBW29qR8YmwOhxVPz5iHoMgUEJLDdPXgwLuHqZf8ewo2GajZ
        explode: false
        in: header
        name: X-Game-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authPlayer_200_response'
          description: "Succesfully authorized the request and retrieved a player\
            \ object containing access token, wallet, and other details."
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      security:
      - basicAuth: []
      summary: Authenticate player
      tags:
      - Players
      x-accepts: application/json
    post:
      description: "Create a new player for a game. Players are automatically associated\
        \ with an internally managed wallet.\n\nPlayer access tokens can be used to\
        \ directly interact with any MetaFab managed contracts, currencies, items\
        \ collections, marketplaces and more. Player interactions are also gasless\
        \ by default, completely removing all crypto friction for players to engage\
        \ with your MetaFab supported games."
      operationId: createPlayer
      parameters:
      - description: "The `publishedKey` of a specific game. This can be shared or\
          \ included in game clients, websites, etc."
        example: game_pk_4SOqpDi8pQdnQgfCOBW29qR8YmwOhxVPz5iHoMgUEJLDdPXgwLuHqZf8ewo2GajZ
        explode: false
        in: header
        name: X-Game-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPlayer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authPlayer_200_response'
          description: "Successfully created a new player. Returns a player object\
            \ containing a wallet (used to interact with contracts, currencies, etc)."
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Create player
      tags:
      - Players
      x-content-type: application/json
      x-accepts: application/json
  /v1/players/{playerId}:
    patch:
      description: Update various fields specific to a player. Such as changing its
        password and resetting its access token.
      operationId: updatePlayer
      parameters:
      - description: Any player id within the MetaFab ecosystem.
        explode: false
        in: path
        name: playerId
        required: true
        schema:
          type: string
        style: simple
      - description: The `accessToken` of the authenticating player.
        example: player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
        explode: false
        in: header
        name: X-Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePlayer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerModel'
          description: Returns the updated player object.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: "An authorization error occured. This is often due to incorrect\
            \ tokens or keys being provided, or accessing a resource that the provided\
            \ tokens or keys do not have access to."
      summary: Update player
      tags:
      - Players
      x-content-type: application/json
      x-accepts: application/json
  /v1/transactions/{transactionId}:
    get:
      description: "Returns an executed transaction object for the provided transactionId.\
        \ Transactions are created by MetaFab when interacting with contracts, currencies,\
        \ items and other MetaFab resources."
      operationId: getTransaction
      parameters:
      - description: Any transaction id within the MetaFab ecosystem.
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
          description: Successfully retrieved a transaction object for the provided
            transactionId.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get transaction
      tags:
      - Transactions
      x-accepts: application/json
  /v1/wallets/{walletId}/balances:
    get:
      description: "Returns the current native token balance for all chains supported\
        \ by MetaFab for the provided walletId. This includes balances like Eth, Matic\
        \ and other native tokens from chains MetaFab supports."
      operationId: getWalletBalances
      parameters:
      - description: Any wallet id within the MetaFab ecosystem.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: number
                type: object
          description: Successfully retrieved native token balances of the provided
            walletId's address for each chain supported by MetaFab.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get wallet balances
      tags:
      - Wallets
      x-accepts: application/json
  /v1/wallets/{walletId}/transactions:
    get:
      description: Returns an array of MetaFab initiated transactions performed by
        the provided walletId. Transactions returned are ordered chronologically from
        newest to oldest.
      operationId: getWalletTransactions
      parameters:
      - description: Any wallet id within the MetaFab ecosystem.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransactionModel'
                type: array
          description: Successfully retrieved an array of transactions performed by
            the provided walletId.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: An API level error occurred. This is often due to problematic
            data being provided by you.
      summary: Get wallet transactions
      tags:
      - Wallets
      x-accepts: application/json
components:
  parameters:
    headerGameKey:
      description: "The `publishedKey` of a specific game. This can be shared or included\
        \ in game clients, websites, etc."
      example: game_pk_4SOqpDi8pQdnQgfCOBW29qR8YmwOhxVPz5iHoMgUEJLDdPXgwLuHqZf8ewo2GajZ
      explode: false
      in: header
      name: X-Game-Key
      required: true
      schema:
        type: string
      style: simple
    headerAuthorizationGame:
      description: The `secretKey` of the authenticating game.
      example: game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
      explode: false
      in: header
      name: X-Authorization
      required: true
      schema:
        type: string
      style: simple
    headerAuthorizationPlayer:
      description: The `accessToken` of the authenticating player.
      example: player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
      explode: false
      in: header
      name: X-Authorization
      required: true
      schema:
        type: string
      style: simple
    headerAuthorizationGameOrPlayer:
      description: The `secretKey` of a specific game or the `accessToken` of a specific
        player.
      example:
      - game_sk_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
      - player_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP
      explode: false
      in: header
      name: X-Authorization
      required: true
      schema:
        type: string
      style: simple
    headerPasswordGame:
      description: The password of the authenticating game. Required to decrypt and
        perform blockchain transactions with the game primary wallet.
      example: mySecurePassword
      explode: false
      in: header
      name: X-Password
      required: true
      schema:
        type: string
      style: simple
    headerPasswordPlayer:
      description: The password of the authenticating player. Required to decrypt
        and perform blockchain transactions with the player primary wallet.
      example: mySecurePassword
      explode: false
      in: header
      name: X-Password
      required: true
      schema:
        type: string
      style: simple
    headerPasswordGameOrPlayer:
      description: The password of the authenticating game or player. Required to
        decrypt and perform blockchain transactions with the game or player primary
        wallet.
      example: mySecurePassword
      explode: false
      in: header
      name: X-Password
      required: true
      schema:
        type: string
      style: simple
    pathCollectionId:
      description: Any collection id within the MetaFab ecosystem.
      explode: false
      in: path
      name: collectionId
      required: true
      schema:
        type: string
      style: simple
    pathCollectionItemId:
      description: "Any item id for the collection. Zero, or a positive integer."
      explode: false
      in: path
      name: collectionItemId
      required: true
      schema:
        type: number
      style: simple
    pathContractId:
      description: Any contract id within the MetaFab ecosystem.
      explode: false
      in: path
      name: contractId
      required: true
      schema:
        type: string
      style: simple
    pathCurrencyId:
      description: Any currency id within the MetaFab ecosystem.
      explode: false
      in: path
      name: currencyId
      required: true
      schema:
        type: string
      style: simple
    pathGameId:
      description: Any game id within the MetaFab ecosystem.
      explode: false
      in: path
      name: gameId
      required: true
      schema:
        type: string
      style: simple
    pathTransactionId:
      description: Any transaction id within the MetaFab ecosystem.
      explode: false
      in: path
      name: transactionId
      required: true
      schema:
        type: string
      style: simple
    pathPlayerId:
      description: Any player id within the MetaFab ecosystem.
      explode: false
      in: path
      name: playerId
      required: true
      schema:
        type: string
      style: simple
    pathWalletId:
      description: Any wallet id within the MetaFab ecosystem.
      explode: false
      in: path
      name: walletId
      required: true
      schema:
        type: string
      style: simple
    queryAddress:
      description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
      example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
      explode: true
      in: query
      name: address
      required: false
      schema:
        type: string
      style: form
    queryArgs:
      description: "A comma seperated list of basic data type arguments. This is optional\
        \ and only necessary if the function being invoked requires arguments per\
        \ the contract ABI. For example, `123,\"Hello\",false`."
      example: "123,\"Hello\",false"
      explode: true
      in: query
      name: args
      required: false
      schema:
        type: string
      style: form
    queryFunc:
      description: "A contract function name. This can be any valid function from\
        \ the the ABI of the contract you are interacting with. For example, `balanceOf`."
      explode: true
      in: query
      name: func
      required: true
      schema:
        type: string
      style: form
    queryOperatorAddress:
      description: "A valid EVM based address. For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
      example: 0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D
      explode: true
      in: query
      name: operatorAddress
      required: true
      schema:
        type: string
      style: form
    queryWalletId:
      description: Any wallet id within the MetaFab ecosystem.
      explode: true
      in: query
      name: walletId
      required: false
      schema:
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          schema:
            type: string
      description: An API level error occurred. This is often due to problematic data
        being provided by you.
    "401":
      content:
        application/json:
          schema:
            type: string
      description: "An authorization error occured. This is often due to incorrect\
        \ tokens or keys being provided, or accessing a resource that the provided\
        \ tokens or keys do not have access to."
  schemas:
    GameModel:
      example:
        walletId: walletId
        createdAt: createdAt
        secretKey: secretKey
        name: name
        publishedKey: publishedKey
        id: id
        rpcs: "{}"
        fundingWalletId: fundingWalletId
        email: email
        updatedAt: updatedAt
      properties:
        id:
          description: This field has not had a description added.
          type: string
        walletId:
          description: This field has not had a description added.
          type: string
        fundingWalletId:
          description: This field has not had a description added.
          type: string
        email:
          description: This field has not had a description added.
          type: string
        name:
          description: This field has not had a description added.
          type: string
        rpcs:
          description: This field has not had a description added.
          type: object
        publishedKey:
          description: This field has not had a description added.
          type: string
        secretKey:
          description: This field has not had a description added.
          type: string
        updatedAt:
          description: This field has not had a description added.
          type: string
        createdAt:
          description: This field has not had a description added.
          type: string
      type: object
    PlayerModel:
      example:
        gameId: gameId
        walletId: walletId
        createdAt: createdAt
        id: id
        accessToken: accessToken
        username: username
        updatedAt: updatedAt
      properties:
        id:
          description: This field has not had a description added.
          type: string
        gameId:
          description: This field has not had a description added.
          type: string
        walletId:
          description: This field has not had a description added.
          type: string
        username:
          description: This field has not had a description added.
          type: string
        accessToken:
          description: This field has not had a description added.
          type: string
        updatedAt:
          description: This field has not had a description added.
          type: string
        createdAt:
          description: This field has not had a description added.
          type: string
      type: object
    WalletModel:
      properties:
        id:
          description: This field has not had a description added.
          type: string
        address:
          description: This field has not had a description added.
          type: string
      type: object
    CollectionModel:
      properties:
        id:
          description: This field has not had a description added.
          type: string
        gameId:
          description: This field has not had a description added.
          type: string
        contractId:
          description: This field has not had a description added.
          type: string
        updatedAt:
          description: This field has not had a description added.
          type: string
        createdAt:
          description: This field has not had a description added.
          type: string
      type: object
    CurrencyModel:
      properties:
        id:
          description: This field has not had a description added.
          type: string
        gameId:
          description: This field has not had a description added.
          type: string
        contractId:
          description: This field has not had a description added.
          type: string
        name:
          description: This field has not had a description added.
          type: string
        symbol:
          description: This field has not had a description added.
          type: string
        supplyCap:
          description: This field has not had a description added.
          type: integer
        updatedAt:
          description: This field has not had a description added.
          type: string
        createdAt:
          description: This field has not had a description added.
          type: string
      type: object
    ContractModel:
      example:
        gameId: gameId
        createdAt: createdAt
        chain: chain
        address: address
        abi: "{}"
        id: id
        type: type
        updatedAt: updatedAt
      properties:
        id:
          description: This field has not had a description added.
          type: string
        gameId:
          description: This field has not had a description added.
          type: string
        chain:
          description: This field has not had a description added.
          type: string
        abi:
          description: This field has not had a description added.
          type: object
        type:
          description: This field has not had a description added.
          type: string
        address:
          description: This field has not had a description added.
          type: string
        updatedAt:
          description: This field has not had a description added.
          type: string
        createdAt:
          description: This field has not had a description added.
          type: string
      type: object
    TransactionModel:
      example:
        args: "{}"
        walletId: walletId
        createdAt: createdAt
        function: function
        contractId: contractId
        id: id
        hash: hash
        updatedAt: updatedAt
      properties:
        id:
          description: This field has not had a description added.
          type: string
        contractId:
          description: This field has not had a description added.
          type: string
        walletId:
          description: This field has not had a description added.
          type: string
        function:
          description: This field has not had a description added.
          type: string
        args:
          description: This field has not had a description added.
          type: object
        hash:
          description: This field has not had a description added.
          type: string
        updatedAt:
          description: This field has not had a description added.
          type: string
        createdAt:
          description: This field has not had a description added.
          type: string
      type: object
    AnyValue:
      description: "Can be anything. String, number, object, array, boolean, etc."
    getCollections_200_response_inner_allOf:
      properties:
        contract:
          $ref: '#/components/schemas/CollectionModel'
      type: object
    getCollections_200_response_inner:
      allOf:
      - $ref: '#/components/schemas/CollectionModel'
      - $ref: '#/components/schemas/getCollections_200_response_inner_allOf'
    createCollection_request:
      properties:
        chain:
          description: The blockchain you want to deploy this item collection on.
            Support for new blockchains are added over time.
          enum:
          - ETHEREUM
          - GOERLI
          - MATIC
          - MUMBAI
          example: MATIC
          type: string
      required:
      - chain
      type: object
    createCollection_200_response_allOf_contract_allOf:
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/TransactionModel'
          type: array
      type: object
    createCollection_200_response_allOf_contract:
      allOf:
      - $ref: '#/components/schemas/ContractModel'
      - $ref: '#/components/schemas/createCollection_200_response_allOf_contract_allOf'
    createCollection_200_response_allOf:
      properties:
        contract:
          $ref: '#/components/schemas/createCollection_200_response_allOf_contract'
      type: object
    createCollection_200_response:
      allOf:
      - $ref: '#/components/schemas/CollectionModel'
      - $ref: '#/components/schemas/createCollection_200_response_allOf'
    setCollectionApproval_request:
      properties:
        approved:
          description: A true or false value approves or disapproves the provided
            address or address associated with the provided walletId.
          type: boolean
        address:
          description: A valid EVM based addresses to allow control over the authenticating
            game or player's wallet items for this collection.
          type: string
        walletId:
          description: A wallet id within the MetaFab ecosystem to allow control over
            the authenticating game or player's wallet items for this collection.
          items:
            type: string
          type: array
      required:
      - approved
      type: object
    batchMintCollectionItems_request:
      properties:
        address:
          description: "A valid EVM based address to create (mint) the items for.\
            \ For example, `0x39cb70F972E0EE920088AeF97Dbe5c6251a9c25D`."
          type: string
        itemIds:
          description: An array of unique itemIds to create (mint).
          items:
            type: number
          type: array
        quantities:
          description: "An array of the quantities of each of the unique itemIds provided\
            \ to create (mint). The quantity of each itemId in itemIds should be at\
            \ the same index as the specific itemId in the itemIds array. For example,\
            \ quantities[2] defines the quantity to mint for itemIds[2], etc."
          items:
            type: number
          type: array
        walletId:
          description: Any wallet id within the MetaFab ecosystem to create (mint)
            the items for.
          type: string
      required:
      - itemIds
      - quantities
      type: object
    batchTransferCollectionItems_request:
      properties:
        addresses:
          description: An array of valid EVM based addresses to transfer items to.
          items:
            type: string
          type: array
        walletIds:
          description: An array of wallet ids within the MetaFab ecosystem to transfer
            items to.
          items:
            type: string
          type: array
        itemIds:
          description: An array of unique itemIds to transfer. Each recipient will
            receive the same set of items provided.
          items:
            example: 12
            type: number
          type: array
        quantities:
          description: The quantities of each unique itemId to transfer. Each recipient
            will receive the same quantities of items provided.
          items:
            example: 1
            type: number
          type: array
      required:
      - itemIds
      - quantities
      type: object
    createCollectionItem_request_attributes_inner:
      properties:
        trait_type:
          example: Attack Power
[...]
